@import "global";
@import "libs";


.container {
   max-width: 1200px;
   margin: auto;
}

.header {
     position: relative;
		height: 100vh;
		min-height: 520px;
		background-image: url(../images/mfizter.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
}

.header-title{
   font-size: 48px;
   color: black;
   text-align: center;
   position: absolute;
   top: 60%;
   left: 50%;
   transform: translate(-50%);
   display: inline;
   width: fit-content;
}

.title{
   font-size: 42px;
   text-align: center;
   margin: 25px 0;
}

.history-description{
   display: flex;
   justify-content: space-between;
}

.history-text{
   line-height: 1.3;
}


.history-img{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   margin-right: 40px;
}



.swiper-container {
   width: 80%;
   height: 400px;
   margin: auto;
 }

 .image-slider__image{
    //margin: auto;
    text-align: center;
 }

 .image-slider__image img{
    max-height: 400px;
    //margin: auto;
    //text-align: center;
    //max-width: 600px;
 }

.swiper-button-prev,
.swiper-button-next{
   color: black;
}

.contacts-block{
   display: flex;
   justify-content: space-between;
}

.contacts-description{
   line-height: 1.2;
}

.contact-adress{
   margin-left: 45px;
}

.fas{
   margin-right: 10px;
}

.fa-map-marker-alt{
   color: red;
}
@import "media";
