@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";
@import "global";
@import "libs";


.container {
   max-width: 1200px;
   margin: auto;
}

section{
   padding: 25px 0;
}

.fas{
   margin-right: 10px;
}

.header-wrapper {
     position: relative;
		height: 68vh;
		min-height: 320px;
      //background-image: center / cover no-repeat url(../img/mfizter.jpg);
		background-image: url(../img/mfizter.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
}

.block{
   position: absolute;
   z-index: 1;
   background-color: black;
   height: 100%;
   //height: inherit;
   width: 100%;
   opacity: 33%;  
   //position: relative;
   //z-index: 1000;
}


.header-description{
   opacity: 100% !important;
   color: white; 
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%);
   z-index: 2;
   text-align: center;
}

.header-title{
   font-size: 22px;   
   display: inline;
}

.header-subtitle{
   margin-top: 25px;
   line-height: 1.2;
}


.title{
   font-size: 42px;
   text-align: center;
   margin: 25px 0;
}

.hospital-tasks{
   //border: 2px solid black;
   width: 80%;
   //font-size: 20px;
   padding: 15px;
   margin: 0 auto;
   box-shadow: 0 7px 7px -7px rgba(0, 0, 0, .6);
   line-height: 1.3;
   border-radius: 7px;
   border: 1 px solid black;
}

.hospital-tasks__list{
   padding-top: 10px;
   padding-left: 22px;
   display: block;
}

.history-description{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   margin-bottom: 40px;
   
}

.history-description:nth-child(even){
   flex-direction: row-reverse;
   .history-img{
      margin-right: 0;
      margin-left: 40px;
      height: 300px;
      object-fit: cover;
   }
}

.history-text{
   line-height: 1.3;
}


.history{
   padding: 30px 0;
}

.history-img{
   min-width: 350px;
   height: 200px;
   margin-right: 40px;
}

.navbar{
   height: 50px;
   background-color:#fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid black;
}

.logo{
   padding: 10px;
}

.nav-phone{
   transform: rotate(90deg);
   margin-right: 5px;
}

.nav-lists{
   text-transform: uppercase;
   display: flex;
}
.nav-list{
   margin-right: 25px;
}

.swiper-container {
   width: 80%;
   height: 400px;
   margin: auto;
 }


 .image-slider__image{
    //margin: auto;
    text-align: center;
 }

 .image-slider__image img{
    max-height: 400px;
    //margin: auto;
    //text-align: center;
    //max-width: 600px;
 }

.swiper-button-prev,
.swiper-button-next{
   color: black;
}

.contacts-block{
   display: flex;
   justify-content: space-between;
}

.contacts-description{
   line-height: 1.2;
   padding-left: 45px;
}

.contact-adress__description{
   display: inline-block;
}

.contacts-description > div{
   margin-bottom: 15px;
}

.fa-map-marker-alt{
   color: red;
}

.therapy{
   font-family: "FiraSans-Medium";
}

.therapy ul {
   display: block;
   
   margin-left: 0;
   margin-right: 0;
   padding-left: 40px;
   line-height: 1.4;
} 

.therapy > ul{
   margin-bottom: .4em;
   margin-top: .7em;
}

.therapy-__first{
   text-decoration: underline;
}

@import "media";
